<h1>Módulo de adição de clientes</h1>
<form action="/add_client" method="POST">
    <label for="name">Nome:</label><br>
    <input type="text"  name="name" placeholder="Digite seu nome."><br>
    <label for="email">E-mail:</label><br>
    <input type="text" name="email" placeholder="Digite seu em-mail."><br><br>
    <label for="phone">Telefone:</label><br>
    <input type="text" name="phone" placeholder="Digite seu telefone."><br><br>
    <input type="radio" name="gender" value="Masculino">
    <label for="male">Masculino</label><br>
    <input type="radio" name="gender" value="Feminino">
    <label for="female">Feminino</label><br>
    <input type="radio" name="gender" value="Outro">
    <label for="other">Outro</label>
    <input type="submit" value="Enviar">
    <input type="reset">
</form>