<div>
    <h1>Sistema de Clientes -- Bem vindo.</h1>
</div>

<hr>

<form action="/search" method="GET">
<input type="submit" value="Clique aqui para alcançar o módulo de procura de clientes.">
</form>

<hr>
<p></p>

<form action="/create_client" method="GET">
<input type="submit" value="Clique aqui para alcançar o módulo de criação de clientes.">
</form>

<hr>
<p></p>

<form action="/delete_data" method="GET">
<input type="submit" value="Clique aqui para alcançar o módulo de deleção de clientes.">
</form>

<hr>
<p></p>

<form action="/update" method="GET">
<input type="submit" value="Clique aqui para alcançar o módulo de atualização de clientes.">
</form>